<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Home</title>

<!-- Bootstrap core CSS -->
<link href="/s/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="/s/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/s/vendor/devicons/css/devicons.min.css" rel="stylesheet">
<link href="/s/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/s/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
	<span class="d-block d-lg-none">Start Bootstrap</span>
	<span class="d-none d-lg-block">
	  <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/s/img/profile.jpg" alt="">
	</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav">
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#about">About</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#education">Education</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
	  </li>
	</ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
	<div class="my-auto">
	  <h1 class="mb-0">周贤彪
		<span class="text-primary">joy</span>
	  </h1>
	  <div class="subheading mb-5">地址：深圳市龙岗区布吉 电话：15675339526&nbsp<a href="mailto:name@email.com">email：306404642@qq.com</a>
	  </div>
	  <p class="mb-5">对数据分析、软件开发有浓厚兴趣，学习和理解能力强，能快速的接受新知识、适应新的环境，具有良好的逻辑思维能力。在工作和学习中可以承受较大的压力，并且具有高度的责任感和团队精神，为人处事中十分平易近人。</p>
	  <ul class="list-inline list-social-icons mb-0">
		<li class="list-inline-item">
		  <a href="#">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			</span>
		  </a>
		</li>
		<li class="list-inline-item">
		  <a href="#">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			</span>
		  </a>
		</li>
		<li class="list-inline-item">
		  <a href="#">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
			</span>
		  </a>
		</li>
		<li class="list-inline-item">
		  <a href="#">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
			</span>
		  </a>
		</li>
	  </ul>
	</div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
	<div class="my-auto">
	  <h2 class="mb-5">Experience</h2>

	  <div class="resume-item d-flex flex-column flex-md-row mb-5">
		<div class="resume-content mr-auto">
		  <h3 class="mb-0">深圳盛凌电子股份有限公司</h3>
		  <div class="subheading mb-3">绩效专员</div>
		  <p>公司、部门和职员KPI指标体系制定与修改，包含年度KPI指标刷新和月度KPI指标修改工作；OA系统和人事系统的后台管理工作；相关数据分析</p>
		</div>
		<div class="resume-date text-md-right">
		  <span class="text-primary"> 2019年9月 - 2020年5月</span>
		</div>
	  </div>

	  <div class="resume-item d-flex flex-column flex-md-row mb-5">
		<div class="resume-content mr-auto">
		  <h3 class="mb-0">广东鸿联九五信息产业有限公司</h3>
		  <div class="subheading mb-3">数据专员</div>
		  <p>负责多个项目的工资数据计算过程（光大项目，中信项目等）；月度员工绩效奖金提成核发，并输出相关数据分析报告；周报、月报等数据报表的撰写。</p>
		</div>
		<div class="resume-date text-md-right">
		  <span class="text-primary">2017年8月 - 2019年8月</span>
		</div>
	  </div>

	  <div class="resume-item d-flex flex-column flex-md-row mb-5">
		<div class="resume-content mr-auto">
		  <h3 class="mb-0">Python</h3>
		  <div class="subheading mb-3">自学</div>
		  <p>掌握Python；了解HTML，JavaScript，jQuery和Vue基础；掌握常用的Linux命令，熟悉Linux下的编程 ；了解数据库和数据分析工具</p>
		</div>
		<div class="resume-date text-md-right">
		  <span class="text-primary">2020年5月 - 目前</span>
		</div>
	  </div>



	</div>

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
	<div class="my-auto">
	  <h2 class="mb-5">Education</h2>

	  <div class="resume-item d-flex flex-column flex-md-row mb-5">
		<div class="resume-content mr-auto">
		  <h3 class="mb-0">湖南工业大学</h3>
		  <div class="subheading mb-3">学士</div>
		  <div>数学与应用数学</div>
		  <p></p>
		</div>
		<div class="resume-date text-md-right">
		  <span class="text-primary">2013年9月 - 2017年6月</span>
		</div>
	  </div>

	  <div class="resume-item d-flex flex-column flex-md-row">
		<div class="resume-content mr-auto">
		  <h3 class="mb-0">隆回县第二中学</h3>
		  <div class="subheading mb-3">理科</div>
		  <p></p>
		</div>
		<div class="resume-date text-md-right">
		  <span class="text-primary">2010年9月 - 2013年6月</span>
		</div>
	  </div>

	</div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
	<div class="my-auto">
	  <h2 class="mb-5">Skills</h2>

	  <div class="subheading mb-3">Programming Languages &amp; Tools</div>
	  <ul class="list-inline list-icons">
		<li class="list-inline-item">
		  <i class="devicons devicons-html5"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-css3"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-javascript"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-jquery"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-python"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-mysql"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-redis"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-django"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-github"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-ubuntu"></i>
		</li>
		<li class="list-inline-item">
		  <i class="devicons devicons-linux"></i>
		</li>
	  </ul>

	  <div class="subheading mb-3">Workflow</div>
	  <ul class="fa-ul mb-0">
		<li>
		  <i class="fa-li fa fa-check"></i>
		  熟悉Python的Flask，Tornado，Django框架</li>
		<li>
		  <i class="fa-li fa fa-check"></i>
		  熟练使用Python中requests、selenium，掌握re，bs4，xpath提取网页资源方法；</li>
		<li>
		  <i class="fa-li fa fa-check"></i>
		  掌握使用Python中pandas、numpy、matplotlib库对数据源进行处理和基础分析；</li>
		<li>
		  <i class="fa-li fa fa-check"></i>
		  掌握使用SQL Server 、MySQL及Redis数据库</li>
	  </ul>
	</div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
	<div class="my-auto">
	  <h2 class="mb-5">Interests</h2>
	  <p>动漫爱好者，《海贼王》--梦想</p>
	  <p class="mb-0">游戏爱好者《英雄联盟》《王者荣耀》</p>
	</div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
	<div class="my-auto">
	  <h2 class="mb-5">Awards &amp; Certifications</h2>
	  <ul class="fa-ul mb-0">
		<li>
		  <i class="fa-li fa fa-trophy text-warning"></i>
		  湖南工业大学校园象棋比赛团体赛冠军（可忽略不计）</li>
	  </ul>
	</div>
  </section>

</div>

<!-- Bootstrap core JavaScript -->
<script src="/s/vendor/jquery/jquery.min.js"></script>
<script src="/s/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/s/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/s/js/resume.min.js"></script>

</body>

</html>
